apiVersion: kafka.strimzi.io/v1alpha1
kind: KafkaTopic
metadata:
  name: my-topic
  labels:
      strimzi.io/cluster: my-cluster
spec:
  replicas: 3
  partitions: 12
---
apiVersion: kafka.strimzi.io/v1alpha1
kind: KafkaTopic
metadata:
  name: my-topic-reversed
  labels:
    strimzi.io/cluster: my-cluster
spec:
  replicas: 3
  partitions: 12
---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaUser
metadata:
  name: service-account-hello-world-producer
  labels:
    strimzi.io/cluster: my-cluster
spec:
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: my-topic
        operation: Write
      - resource:
          type: topic
          name: my-topic
        operation: Create
      - resource:
          type: topic
          name: my-topic
        operation: Describe
---
apiVersion: v1
kind: Secret
metadata:
  name: hello-world-producer-oauth
type: Opaque
data:
  clientSecret: aGVsbG8td29ybGQtcHJvZHVjZXItc2VjcmV0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hello-world-producer
  name: hello-world-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world-producer
  template:
    metadata:
      labels:
        app: hello-world-producer
    spec:
      containers:
      - name: hello-world-producer
        image: strimzi/hello-world-producer:latest
        env:
          - name: BOOTSTRAP_SERVERS
            value: my-cluster-kafka-bootstrap:9092
          - name: TOPIC
            value: my-topic
          - name: DELAY_MS
            value: "1000"
          - name: LOG_LEVEL
            value: "INFO"
          - name: MESSAGE_COUNT
            value: "1000"
          - name: OAUTH_CLIENT_ID
            value: hello-world-producer
          - name: OAUTH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: hello-world-producer-oauth
                key: clientSecret
          - name: OAUTH_TOKEN_ENDPOINT_URI
            value: https://sso.myproject.svc:8443/auth/realms/internal/protocol/openid-connect/token
          - name: OAUTH_CRT
            valueFrom:
              secretKeyRef:
                name: sso-x509-https-secret
                key: tls.crt
---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaUser
metadata:
  name: service-account-hello-world-streams
  labels:
    strimzi.io/cluster: my-cluster
spec:
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: my-topic
        operation: Read
      - resource:
          type: topic
          name: my-topic
        operation: Describe
      - resource:
          type: group
          name: hello-world-streams
          patternType: prefix
        operation: Read
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Write
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Create
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Describe
---
apiVersion: v1
kind: Secret
metadata:
  name: hello-world-streams-oauth
type: Opaque
data:
  clientSecret: aGVsbG8td29ybGQtc3RyZWFtcy1zZWNyZXQ=
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hello-world-streams
  name: hello-world-streams
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world-streams
  template:
    metadata:
      labels:
        app: hello-world-streams
    spec:
      containers:
        - name: hello-world-streams
          image: strimzi/hello-world-streams:latest
          env:
            - name: BOOTSTRAP_SERVERS
              value: my-cluster-kafka-bootstrap:9092
            - name: APPLICATION_ID
              value: hello-world-streams
            - name: SOURCE_TOPIC
              value: my-topic
            - name: TARGET_TOPIC
              value: my-topic-reversed
            - name: LOG_LEVEL
              value: "INFO"
            - name: OAUTH_CLIENT_ID
              value: hello-world-streams
            - name: OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: hello-world-streams-oauth
                  key: clientSecret
            - name: OAUTH_TOKEN_ENDPOINT_URI
              value: https://sso.myproject.svc:8443/auth/realms/internal/protocol/openid-connect/token
            - name: OAUTH_CRT
              valueFrom:
                secretKeyRef:
                  name: sso-x509-https-secret
                  key: tls.crt
---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaUser
metadata:
  name: service-account-hello-world-consumer
  labels:
    strimzi.io/cluster: my-cluster
spec:
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Read
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Describe
      - resource:
          type: group
          name: hello-world-consumer
        operation: Read
---
apiVersion: v1
kind: Secret
metadata:
  name: hello-world-consumer-oauth
type: Opaque
data:
  clientSecret: aGVsbG8td29ybGQtY29uc3VtZXItc2VjcmV0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hello-world-consumer
  name: hello-world-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world-consumer
  template:
    metadata:
      labels:
        app: hello-world-consumer
    spec:
      containers:
        - name: hello-world-consumer
          image: strimzi/hello-world-consumer:latest
          env:
            - name: BOOTSTRAP_SERVERS
              value: my-cluster-kafka-bootstrap:9092
            - name: TOPIC
              value: my-topic-reversed
            - name: GROUP_ID
              value: hello-world-consumer
            - name: LOG_LEVEL
              value: "INFO"
            - name: MESSAGE_COUNT
              value: "1000"
            - name: OAUTH_CLIENT_ID
              value: hello-world-consumer
            - name: OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: hello-world-consumer-oauth
                  key: clientSecret
            - name: OAUTH_TOKEN_ENDPOINT_URI
              value: https://sso.myproject.svc:8443/auth/realms/internal/protocol/openid-connect/token
            - name: OAUTH_CRT
              valueFrom:
                secretKeyRef:
                  name: sso-x509-https-secret
                  key: tls.crt
