apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaTopic
metadata:
  name: my-topic
  labels:
      strimzi.io/cluster: my-cluster
spec:
  replicas: 3
  partitions: 12
---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaTopic
metadata:
  name: my-topic-reversed
  labels:
    strimzi.io/cluster: my-cluster
spec:
  replicas: 3
  partitions: 12
---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaUser
metadata:
  name: service-account-java-kafka-producer
  labels:
    strimzi.io/cluster: my-cluster
spec:
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: my-topic
        operation: Write
      - resource:
          type: topic
          name: my-topic
        operation: Create
      - resource:
          type: topic
          name: my-topic
        operation: Describe
---
apiVersion: v1
kind: Secret
metadata:
  name: java-kafka-producer-oauth
type: Opaque
data:
  clientSecret: aGVsbG8td29ybGQtcHJvZHVjZXItc2VjcmV0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: java-kafka-producer
  name: java-kafka-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-kafka-producer
  template:
    metadata:
      labels:
        app: java-kafka-producer
    spec:
      containers:
      - name: java-kafka-producer
        image: quay.io/strimzi-examples/java-kafka-producer:latest
        env:
          - name: BOOTSTRAP_SERVERS
            value: my-cluster-kafka-bootstrap:9092
          - name: TOPIC
            value: my-topic
          - name: DELAY_MS
            value: "1000"
          - name: LOG_LEVEL
            value: "INFO"
          - name: MESSAGE_COUNT
            value: "1000000"
          - name: OAUTH_CLIENT_ID
            value: java-kafka-producer
          - name: OAUTH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: java-kafka-producer-oauth
                key: clientSecret
          - name: OAUTH_TOKEN_ENDPOINT_URI
            value: https://sso.myproject.svc:8443/auth/realms/internal/protocol/openid-connect/token
          - name: OAUTH_SSL_TRUSTSTORE_TYPE
            value: PEM
          - name: OAUTH_SSL_TRUSTSTORE_CERTIFICATES
            valueFrom:
              secretKeyRef:
                name: sso-x509-https-secret
                key: tls.crt
---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaUser
metadata:
  name: service-account-java-kafka-streams
  labels:
    strimzi.io/cluster: my-cluster
spec:
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: my-topic
        operation: Read
      - resource:
          type: topic
          name: my-topic
        operation: Describe
      - resource:
          type: group
          name: java-kafka-streams
          patternType: prefix
        operation: Read
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Write
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Create
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Describe
---
apiVersion: v1
kind: Secret
metadata:
  name: java-kafka-streams-oauth
type: Opaque
data:
  clientSecret: aGVsbG8td29ybGQtc3RyZWFtcy1zZWNyZXQ=
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: java-kafka-streams
  name: java-kafka-streams
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-kafka-streams
  template:
    metadata:
      labels:
        app: java-kafka-streams
    spec:
      containers:
        - name: java-kafka-streams
          image: quay.io/strimzi-examples/java-kafka-streams:latest
          env:
            - name: BOOTSTRAP_SERVERS
              value: my-cluster-kafka-bootstrap:9092
            - name: APPLICATION_ID
              value: java-kafka-streams
            - name: SOURCE_TOPIC
              value: my-topic
            - name: TARGET_TOPIC
              value: my-topic-reversed
            - name: LOG_LEVEL
              value: "INFO"
            - name: OAUTH_CLIENT_ID
              value: java-kafka-streams
            - name: OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: java-kafka-streams-oauth
                  key: clientSecret
            - name: OAUTH_TOKEN_ENDPOINT_URI
              value: https://sso.myproject.svc:8443/auth/realms/internal/protocol/openid-connect/token
            - name: OAUTH_SSL_TRUSTSTORE_TYPE
              value: PEM
            - name: OAUTH_SSL_TRUSTSTORE_CERTIFICATES
              valueFrom:
                secretKeyRef:
                  name: sso-x509-https-secret
                  key: tls.crt
---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaUser
metadata:
  name: service-account-java-kafka-consumer
  labels:
    strimzi.io/cluster: my-cluster
spec:
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Read
      - resource:
          type: topic
          name: my-topic-reversed
        operation: Describe
      - resource:
          type: group
          name: java-kafka-consumer
        operation: Read
---
apiVersion: v1
kind: Secret
metadata:
  name: java-kafka-consumer-oauth
type: Opaque
data:
  clientSecret: aGVsbG8td29ybGQtY29uc3VtZXItc2VjcmV0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: java-kafka-consumer
  name: java-kafka-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-kafka-consumer
  template:
    metadata:
      labels:
        app: java-kafka-consumer
    spec:
      containers:
        - name: java-kafka-consumer
          image: quay.io/strimzi-examples/java-kafka-consumer:latest
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: my-cluster-kafka-bootstrap:9092
            - name: STRIMZI_TOPIC
              value: my-topic-reversed
            - name: KAFKA_GROUP_ID
              value: java-kafka-consumer
            - name: STRIMZI_LOG_LEVEL
              value: "INFO"
            - name: STRIMZI_MESSAGE_COUNT
              value: "1000000"
            - name: KAFKA_KEY_DESERIALIZER
              value: "org.apache.kafka.common.serialization.StringDeserializer"
            - name: KAFKA_VALUE_DESERIALIZER
              value: "org.apache.kafka.common.serialization.StringDeserializer"
            - name: KAFKA_OAUTH_CLIENT_ID
              value: java-kafka-consumer
            - name: KAFKA_OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: java-kafka-consumer-oauth
                  key: clientSecret
            - name: OAUTH_TOKEN_ENDPOINT_URI
              value: https://sso.myproject.svc:8443/auth/realms/internal/protocol/openid-connect/token
            - name: KAFKA_OAUTH_SSL_TRUSTSTORE_TYPE
              value: PEM
            - name: KAFKA_OAUTH_SSL_TRUSTSTORE_CERTIFICATES
              valueFrom:
                secretKeyRef:
                  name: sso-x509-https-secret
                  key: tls.crt
